---
layout: default
permalink: /biblio
---

<div class="biblio" lang="es">
	<h2>Bibliografía</h2>
	<h3>Ediciones monográficas de su obra</h3>
		<ul>
			<li>
				Helguero y Alvarado, Nicolasa de (1793). <a href="http://bdh.bne.es/bnesearch/detalle/bdh0000253896" target="_new"
				><i>Vida de santa Mafalda, reina de Castilla y monja cisterciense (...) a la que se ha añadido la 
				versión de varios salmos de David en liras</i></a>. En Burgos, por don Joseph de Navas. [17.05.2021]
			</li>
			<li>
				— (1794). <a href="http://bdh.bne.es/bnesearch/detalle/bdh0000103495" target="_new">
					<i>Poesías sagradas y profanas</i></a>. En Burgos, por don Joseph de Navas. [17.05.2021]</li>
			<li>
				— (2020) <i>Empeño de ser Medusa</i>. Antología y edición de Elena Medel. Madrid: La Bella Varsovia.
			</li>
		</ul>
	<h3>Aparición en antologías, volúmenes colectivos, etc.</h3>
		<ul>
			<li>
				Méndez, Francisco (1780). <a href="http://biblioteca.galiciana.gal/es/consulta/registro.do?id=6258" target="_new">
				<i>Noticias de los viajes y escritos del Rmo. P. Mro. Fr. Henrique Flórez (...)</i></a>. Madrid: en la imprenta de Pedro Marín. [17.05.2021]
			</li>
			<li>
			  	de Sancha, Justo (ed. lit.) (1855). <a href="http://bibliotecadigital.jcyl.es/es/catalogo_imagenes/grupo.cmd?interno=S&path=10003248&posicion=317&presentacion=pagina" target="_new">
				<i>Romancero y cancionario sagrados: colección de poesías cristianas, morales y divinas</i></a>. Col. Biblioteca de Autores Españoles (BAE), vol. 35. 
				Madrid, M. Rivadeneyra, págs. 305 y 347 [17.05.2021]
			</li>
			<li>
				Serrano y Sanz, Manuel (1903) <a href="http://bdh.bne.es/bnesearch/detalle/bdh0000255876" target="_new">
				<i>Apuntes para una Biblioteca de escritoras españolas, vol. I</i></a>. Col. Biblioteca de Autores Españoles (BAE), vol. 268. Madrid: Sucesores de Rivadeneyra. [17.05.2021]
			</li>
			<li>
				— (1915). <a href="http://bdh.bne.es/bnesearch/detalle/bdh0000229456" target="_new"><i>Antología de poetisas líricas</i></a>. Madrid: RAE (Tipografía de la «Revista de Archivos, Bibliotecas y Museos») [30.05.2021]
			</li>
			<li>
				Efenvre, Françoise (2017). «A Nra. Sra. en su Soledad». En: Romero López, Dolores, et al. <i>Seis siglos de poesía escrita por mujeres. 
				Pautas poéticas y revisiones criticas</i>. Berna: Peter Lang.
			</li>
		</ul>
	<h3>Referencia sobre Nicolasa de Helguero y la orden benedictina</h3>
		<ul>
			<li>
			   <a href="http://62.204.211.38:8080/bieses/do/search" target="_new">Ficha, catálogo y red de sociabilidad de María Nicolasa Helguero y Alvarado</a> 
			   en <a href="https://www.bieses.net/" target="_new">BIESES, Bibliografía de escritoras españolas</a>.
			</li>
			<li>
				Monasterio de las Huelgas. <a href="https://www.monasteriodelashuelgas.org/lista-de-abadesas/" target="_new">
				Listado de abadesas.</a> [17.05.2021]
			</li>
			<li>
				Muñiz, Roberto (1793). <a href="https://bibliotecadigital.jcyl.es/es/consulta/registro.do?control=CYL20100004395" target="_new">
				<i>Biblioteca Cisterciense Española</i></a>. Burgos, Joseph de Navas. [17.05.2021]
			</li>
			<li>
				Rodríguez López, Amancio (1907). <a href="http://bibliotecadigital.jcyl.es/i18n/catalogo_imagenes/grupo.cmd?interno=S&path=1000757&posicion=213&presentacion=pagina&registrardownload=0" target="_new">
				<i>El Real Monasterio de las Huelgas de Burgos y el Hospital del Rey</i></a>, t. II. Burgos: Imprenta y Librería del 
				Círculo Católico, pág. 205 [17.05.2021]
			</li>
			<li>
				Yáñez Neira, Damián. <a href="dbe.rah.es/biografias/39397/nicolasa-javiera-de-helguero-y-alvarado" target="_new">
				«Nicolasa Javiera de Helguero y Alvarado»</a>. <i>Diccionario biográfico español</i>, Real Academia de la Historia. [17.05.2021]
			</li>
			<li>
				—, (2005).<a href="https://dialnet.unirioja.es/servlet/articulo?codigo=1182906" target="_new">«Centenario de Doña Nicolasa Helguero y 
					Alvarado: 1805-2005»</a>, en <i>Hidalguía: la revista de genealogía, nobleza y armas</i>, n. 310-311, págs. 581-599. [17.05.2021]
			</li>
		</ul>
	<h3>Estudios generales sobre literatura femenina y conventual</h3>
		<ul>
			<li>
				Baranda Leturio, Nieves y Marín Pina, María del Carmen (2014). «El universo de la escritura conventual femenina: deslindes y 
				perspectivas». En: <i>Letras en la celda: cultura escrita de los conventos femeninos en la España moderna</i>. Berlin: Vervuert.
			</li>
			<li>
				de Cueto, Leopoldo Augusto, marqués de Valmar (1869). <a href="http://bdh.bne.es/bnesearch/detalle/bdh0000133884" target="_new">
					<i>Poetas líricos del siglo XVIII, vol I</i></a>.  Col. Biblioteca de Autores Españoles (BAE), vol. 61. Madrid: Rivadeneyra [30.05.2021]
			</li>
			<li>
				Palacios Fernández, Emilio (2002). <a href="http://www.cervantesvirtual.com/obra-visor/la-mujer-y-las-letras-en-la-espana-del-siglo-xviii--0/html/01ee5680-82b2-11df-acc7-002185ce6064_77.html"
				target="_new"><i>La mujer y las letras en la España del siglo XVIII</i></a>. Madrid: Ediciones del Laberinto. [17.05.2021]
			</li>
		</ul>
	<h3>Otras obras consultadas</h3>
		<ul>
			<li>
				de Cossio, Jose Manuel (1998[1952]). <i>Fábulas mitológicas en España, I</i>. Tres Cantos: Istmo.
			</li>
			<li>
				Eder, M., Rybicki, J. y Kestemont, M. (2016). <a href="https://journal.r-project.org/archive/2016/RJ-2016-007/RJ-2016-007.pdf"
				target="_new">«Stylometry with R: a package for computational text analysis»</a>. <i>R Journal</i> 8(7): 707-727. [17.05.2021]
			</li>
			<li>
				Molina, Álvaro (2017). <a href="https://www.researchgate.net/publication/314216733" target="_new">«De mujer fuerte a ciudadana. Modelos heroicos 
				femeninos a través del arte del grabado»</a>. En: C. 
				Camarero Bullón, C. y Gómez Alonso, J. C. (coords.). <i>El dominio de la realidad y la crisis del discurso. El nacimiento de 
				la conciencia europea</i>. Madrid: Ediciones Polifemo. pp. 77-111 [17.05.2021]
			</li>
			<li>
				Rosell, Manuel (1791). <a href="http://bdh.bne.es/bnesearch/detalle/bdh0000102297" target="_new"><i>Apologia en defensa de la aparicion de San Isidro en la batalla de las Navas, ó Demostracion de las 
				equivocaciones y engaños que don Juan Antonio Pellicer ... ha padecido ...</i></a> Madrid: en la Imprenta Real. [17.05.2021]
			</li>
		</ul>
	<p>
		Se ha consultado Wikipedia cuando así se indica [01.06.2021]. La entrada sobre 
		<a href="https://es.wikipedia.org/wiki/Nicolasa_de_Helguero_y_Alvarado" target="_new">Nicolasa de Helguero</a> ha sido iniciada por el propio autor.
	</p>
	<hr class="fix">
	<p>
	    <a href="index.html">Volver a la portada</a>
	</p>
</div>
