---
layout: default
permalink: /criterios
---
<div class="justificame" lang="es">
    <h2>
        Criterios editoriales
    </h2>
    <p class="sangrame">
        Esta edición digital se deriva de las siguientes obras, todas ellas en dominio público:
    </p>
    <ul>
        <li>
            <i>Poesías sagradas y profanas</i> (1794), reproducidas íntegramente desde la copia digitalizada por 
            la <a href="http://catalogo.bne.es/uhtbin/cgisirsi/0/x/0/05?searchdata1=bima0000052371" target="_new">Biblioteca Nacional de España</a>. 
            Se han cotejado algunas enmiendas con la copia conservada en la 
            <a href="https://books.google.de/books?id=KLC9o5SCVcYC&hl=es&num=11" target="_new">Biblioteca de la Abadía de Montserrat</a>, digitalizada por Google.
        </li>
        <li>
            <i>Autógrafos de Palacio</i>, transcritos en los <i>Apuntes</i> de Serrano y Sanz (1903), tomo I, pp. 497-99, desde la copia digitalizada por 
            la <a href="http://catalogo.bne.es/uhtbin/cgisirsi/0/x/0/05?searchdata1=bimo0001439511" target="_new">Biblioteca Nacional de España</a>.
        </li>
        <li>
            <i>Elogios a Henrique Flórez</i>, aparecidos en <i>Noticias de los viajes y escritos de Henrique Flórez</i> (Méndez 1780), pp. 306-12,
            desde la copia digitalizada por <a href="http://biblioteca.galiciana.gal/es/consulta/registro.do?id=6258" target="_new">Galiciana, Biblioteca 
            Dixital de Galicia</a>.
        </li>
        <li>
            Villancico (1792), transcrito en la <i>Biblioteca Cisterciense Española</i> (Muñiz 1793), p. 163, desde la copia digitalizada por la 
            <a href="https://bibliotecadigital.jcyl.es/es/consulta/registro.do?control=CYL20100004395" target="_new">Biblioteca Digital de Castilla y León</a>.
        </li>
    </ul>
    <p class="sangrame">
        El volumen de <i>Poesías</i> (1794) es un impreso muy descuidado, máxime si se compara con la <i>Biblioteca Cisterciense Española</i>, salida 
        de la misma imprenta el año anterior, o aún con las <i>Noticias de los viajes y escritos del padre Flórez</i>, de la imprenta madrileña 
        de Pedro Marín en 1780. Sorprenden algunas grafías afrancesadas como <i>ligèro</i> (<i>San José</i>, I, v. 399) y <i>sonòro</i> (íd. v. 271), 
        completamente ajenas a la Ortografía de la RAE en vigor (la de 1792, que reproduce la doctrina de la de 1770) y también vacilaciones como 
        <i>arina</i>/<i>harina</i> dentro de la misma estrofa (<i>Las Heroínas</i>, vv. 190 y 192). 
        En cualquier caso, en nuestra edición se normalizan todas las formas de acuerdo a la última Ortografía de la RAE (2009), pero se han codificado además 
        las variantes originales aunque no resulten de particular interés para determinar un estado de lengua.
    </p>
    <p class="sangrame">
        Por cuanto tienen de decisión estilística de la autora, se han mantenido grafías arcaizantes como <i>mesmo, -a</i> y aquellas que tienen repercusiones 
        en la sonoridad, la métrica y la rima. Es el caso del nombre propio <i>Joseph</i>, ya que la eliminación del sonido [f] final provocaría sinalefas 
        imprevistas. La grafía <i>Belén</i> (San José, I, v. 493 y 692) invita a ser realizada como trisílabo (posiblemente [bet.le.hém] como en latín) para garantizar 
        la correcta escansión de los endecasílabos en que aparece.
    </p>
    <p class="sangrame">
        No se han codificado las intervenciones en la puntuación. El uso de la coma como marcador sintáctico era mucho más intenso a finales del s. XVIII que en 
        la actualidad (por ejemplo, en las oraciones de relativo e incluso antes de la conjunción <i>y</i> cuando introduce el último elemento de una enumeración). También es abundante el uso de los 
        dos puntos como marcador intermedio de período. Hemos resuelto el problema de los incisos anidados introduciendo el uso de la raya tipográfica, que no ocurre 
        nunca en los textos originales (sí, ocasionalmente, los paréntesis). El principio rector ha sido siempre la fidelidad al sentido, aun cuando esté ofuscado, 
        deliberadamente o no, por la sintaxis.
    </p>
    <p class="sangrame">
        Se han codificado las abreviaturas originales, pero se visualizan sus expansiones (<i>q̃ ha estado ausẽte</i> > <i>que ha estado ausente</i>;
        San José, I, v. 372).
    </p>
    <p class="sangrame">
        Se mantienen las mayúsculas originales, tanto las que resaltan ciertos sustantivos (no necesariamente vinculados a la divinidad y la monarquía: 
        <i>Del Comercio literario</i>, Clemente, I, v. 125) como las iniciales de verso, cuando ocurren.
    </p>
    <p class="sangrame">
        No se han intervenido los casos de leísmo y laísmo; tampoco el uso de la preposición <i>a</i> por <i>de</i> donde la norma moderna y el sentido 
        parecen exigirlo. Se ha codificado la adición de <i>a</i> en algunas perífrasis verbales cuando no afecta a la métrica 
        (<i>se atreviò</i> a <i>pretender ser Deicida</i>; San José, II, v. 142), así como la corrección de erratas y falsas lecturas.
    </p>
    <p class="sangrame">
        Todas estas intervenciones (ortografía, correcciones, abreviaturas, enmiendas y adiciones) se marcan con un 
        <span style="text-decoration: underline dotted;">subrayado de puntos</span>.
    </p>
    <p class="sangrame">
        Los endecasílabos hipermétricos son muy abundantes en <i>Poesías</i> (pero inexistentes en los poemas cuya transmisión ha contado con más intermediarios). 
        Por lo general, responden al esquema 5+7, que recuerda a la estructura del verso de seguidilla, una forma también manejada por Nicolasa de Helguero. 
        Estos endecasílabos, además de algún otro verso de medida inesperada, se visualizan en esta edición precedidos de una cruz de Jerusalén ( ✠ ). 
        Ninguno se ha regularizado, aunque esto podría hacerse con intervenciones mínimas en la mayoría de los casos.
    </p>
    <p class="sangrame">
        En el archivo XML-TEI desde el que se realiza la visualización se ha realizado un ingente marcado semántico (nombres propios, epítetos y correferencias; 
        fechas; ciudades, regiones y países; lugares geográficos, etc.) que se aprovechará, en la próxima versión y de manera coordinada con las ediciones 
        en proyecto de otras autoras, para generar notas, índices onomásticos y otros recursos complementarios.
    </p>
    <hr class="fix">
    <p>
        <a href="index.html">Volver a la portada</a>
    </p>
</div>