---
layout: default
title: Estudio
permalink: estudio
---

<div class="justificame" lang="es">
<h2>Acercamiento a Nicolasa de Helguero y Alvarado</h2>
<ul>
	<li><a href="#familia">Familia y vida pública</a></li>
	<li><a href="#circulo">El círculo intelectual de Nicolasa de Helguero</a></li>
	<li><a href="#obra">Su obra conservada</a></li>
	<li><a href="#poster">La posteridad</a></li>
</ul>
<hr>
<h3><a name="familia"></a>Familia y vida pública</h3>
<p class="sangrame">
	Son pocos los datos biográficos disponibles sobre Nicolasa de Helguero y Alvarado. La mayoría de ellos proceden de las investigaciones del fraile Damián Yáñez Neira, impulsor de los estudios cistercienses en el siglo XX, que localizó y publicó la partida de nacimiento de la autora en el segundo centenario de su muerte (Yáñez 2005). Así sabemos que nació el 4 de noviembre de 1719 en San Cebrián de Buena Madre, un enclave hoy deshabitado entre las actuales provincias de Palencia y Burgos (Castilla y León, España) y fue la primera hija de Nicolás de Helguero y Alvarado, quien poco después sería capitán del castillo de San Martín de la Ría de Santander, y de Francisca González Villalobos Azevedo y Montoya<sup><a href="#nota1" name="ref1">1</a></sup>.
</p>
<figure>
	<img src="assets/palacio_mujica_san_cebrian_roberto_otero_FB.jpg" 
	alt="Palacio fortificado de piedra, con torreones cilíndricos en las esquinas y almenas. Sobre la puerta, el escudo de la familia Mújica">
	<figcaption>Palacio de los Mújica en San Cebrián de Buena Madre, Palencia, España. Foto: Roberto Otero 
		(FB <a href="https://www.facebook.com/paraydescubrepalencia/posts/405800230038320" target="_new">Para y descubre Palencia</a>)</figcaption>
</figure>
<p class="sangrame">
	Testigos, padrinos y parientes reseñados en la partida de nacimiento remiten a una nobleza castellana, el señorío de San Cebrián, con conexiones en 
	el ejército, el clero y actividades económicas que se podrían calificar de incipientes procesos industriales (minería, armamento y astilleros). 
	Diego de Noja Castillo, bisabuelo de la autora, es mencionado como <q>veedor de armadas, gente de guerra y artillería de las Cuatro Villas de la costa 
		de la mar</q>; su abuelo Pedro de Helguero Albarado (sic) fue caballero de la Orden de Calatrava; su tío Miguel Antonio Helguero y 
		Alvarado fue fraile dominico (y autor del poema <i>Fábula de Andrómeda y Perseo</i><sup><a href="#nota2" name="ref2">2</a></sup>), y encontramos 
		también el apellido en dos abadesas del Real Monasterio de las Huelgas de Burgos, su tía Ana María Helguero Alvarado (en los trienios 1723-1726 y 
		1729-1732) y Clara Antonia de Helguero y Alvarado (1732-1735), esto es, en la niñez y juventud de la autora. La particularidad de Las Huelgas 
		reside en que era un monasterio que acogía únicamente a hijas de alta cuna: junto con las Descalzas Reales de Madrid, uno de los más elitistas 
		de su tiempo.
</p>
<p class="sangrame">
	Siguiendo los siempre imprescindibles <i>Apuntes para una Biblioteca de escritoras españolas</i> de Manuel Serrano y Sanz (1903: 496-99), para rastrear las siguientes noticias biográficas de Nicolasa de Helguero debemos acudir a sus contemporáneos, en particular a Antonio Dionisio Muñiz Rodríguez, que tomó el nombre de Roberto al profesar como fraile cisterciense. Muñiz, además de confesor del Monasterio de las Huelgas en tiempos de la autora e impulsor de la publicación de sus obras, es autor de la <i>Bibiloteca Cisterciense Española</i> (1793), una monografía que, a modo de enciclopedia, ofrece un listado de los escritores ilustres de esta congregación a lo largo de la historia<sup><a href="#nota3" name="ref3">3</a></sup>. En la entrada correspondiente a Nicolasa de Helguero figuran los datos que, aunque escasos, han sido el único asidero de los historiadores y bibliógrafos posteriores. Así, se dice (y se repite en la portada de su libro de poesías) que Nicolasa de Helguero fue marquesa de San Isidro. Sigamos esta pista.
</p>
<figure>
	<img src="assets/escudo_marques_sisidro_wikipedia.jpg" class="vertical"
	alt="Escudo esculpido en piedra, bajo una gran corona, adosado a un muro. Incluye las armas de las familias Ruy-Gómez, Gómez y Vega">
	<figcaption>Escudo del marqués de San Isidro en el convento de San Marcos (León, España). Foto: José Luis Filpo Cabana 
		(<a href="https://commons.wikimedia.org/wiki/File:Escudo_del_Marqu%C3%A9s_de_San_Isidro,_Convento_de_San_Marcos_(Le%C3%B3n).jpg" target="_new">Wikipedia</a>)</figcaption>
</figure>
<p class="sangrame">
	Este título nobiliario fue creado en 1730 por Felipe V, a la vez que otros que fueron puestos a disposición de Alejandro de la Vega, abad de la basílica de San Isidoro, en León, para ser vendidos a aquellos interesados que pudiesen pagar su precio. El primer titular del marquesado (y pariente del referido abad) fue Pablo Rui-Gómez Lasso de la Vega y Balmaseda, entre 1730 y 1742, que de acuerdo a los estudios de genealogía casó con Ana (o Rosa) de Bustamante y Bergaño; le sucedió su hijo, Juan Francisco Rui-Gómez y Bustamante, marqués entre 1742 y 1787, casado con María Teresa de Prado Malleza Portocarrero y Luna.
</p>
<p class="sangrame">
	Como puede verse, Nicolasa de Helguero no consta oficialmente como marquesa de San Isidro, aunque las fechas sugieren que su esposo hubiera podido ser Pablo Rui-Gómez Lasso de la Vega: ¿quizá en segundas nupcias? Si atendemos a esta hipótesis, Helguero habría enviudado en 1742, a la edad de veintitrés años, no sabemos si con hijos, pudiendo haber tomado el velo de forma más o menos inmediata. Las fechas cuadran con los comentarios a las <i>Octavas</i> en memoria de su hermano Pedro de Helguero, donde se explica que ambos se entrevistaron en Las Huelgas después de que este casi perdiera la vida en la batalla de Tolón (1744). De cualquier forma, Yáñez (2005:589) califica de <q>inconcebible que no hayamos logrado esclarecer la fecha de su ingreso en las Huelgas de Burgos ni apenas el desarrollo de su vida monástica</q>, por lo que deberemos contentarnos con estas aproximaciones.
</p>
<p class="sangrame">
	Sin embargo, cabe cuestionar que, frente a lo que indica la ficha de Nicolasa de Helguero en el Diccionario Biográfico Español (Real Academia de la Historia, en línea) redactada por el mismo investigador, la autora llegase a ser abadesa de Las Huelgas, ya que su nombre no aparece en los listados oficiales mantenidos por la propia Congregación (MLH, en línea). Resulta significativo que Muñiz no aporte el dato en la <i>Biblioteca Cisterciense</i> (1793) ni, por consiguiente, lo refieran los bibliógrafos posteriores. Todo lo más Helguero es mencionada como camarera de la abadesa en una visita del historiador Enrique Flórez al monasterio en junio de 1769 (cuando ella contaba con 50 años) en la <i>Noticia de los viajes y escritos...</i> del agustino, publicada tras su muerte por su ayudante su ayudante y secretario (Méndez 1780).
</p>
<h3><a name="circulo"></a>El círculo intelectual de Nicolasa de Helguero</h3>
<p class="sangrame">
	Esta visita, probablemente enmarcada en las investigaciones historiográficas del erudito<sup><a href="#nota4" name="ref4">4</a></sup>, sugiere que Nicolasa de Helguero y el padre Flórez trabaron, si no una amistad, una afinidad intelectual que se mostró duradera en el tiempo. Prueba de ello es que en el referido volumen, dentro de una nutrida batería de elogios póstumos de diferentes autores, encontramos cuatro composiciones (dos sonetos, un romance y un grupo de octavas) que se atribuyen anónimamente a <q>una Ilustre Señora Religiosa, muy apasionada del Rmo. Flórez</q> (Méndez 1780:306). Trece años después, en la <i>Biblioteca Cisterciense</i>, Roberto Muñiz menciona estos poemas dentro del plan editorial de las obras de Helguero: es gracias a esta referencia que he podido llegar a ellos<sup><a href="#nota5" name="ref5">5</a></sup>. En una larga nota que acompaña a estos poemas, el editor, quizá disculpando la humildad de la autora, y para ilustrar a los lectores acerca de su mérito, cita una carta del padre Feijoo a la propia Helguero, fechada en 1749, en la que este expone
</p>
<blockquote>
	… que un excelente nacimiento influye ordinariamente en una excelente educación: y que desde que estuvo presente en León a mis ojos, quedó para siempre presente en mi memoria para tributar la veneración que debo al admirable conjunto de tantas bellas cualidades. (...) En orden a las Liras me ratifico en lo dicho, pues en ellas veo que si Vuestra Señoría por el color nativo y por el del hábito iguala al cisne en la blancura, le excede en la melodía.
</blockquote>
<p class="sangrame">
	Si bien modulada por la galantería, la cita ofrece información muy valiosa: en primer lugar, documenta que ambos se habían conocido en persona (aunque en León y en fecha indeterminada) y mantuvieron relación epistolar. También destaca que Helguero contaba con una esmerada educación. Y, finalmente, establece que para 1749 Helguero ya había profesado monja y contaba con obra (si bien no podemos determinar cuáles son las liras que alaba el benedictino). La nota incluye una segunda cita de Feijoo, esta vez en carta al arzobispo de Zaragoza Luis García Mañero, que incluye un nuevo juicio sobre la autora:</p>
<blockquote>
	la Canción compuesta por mi Señora Doña N. de N.<sup><a href="#nota6" name="ref6">6</a></sup> que Vuestra Señoría se sirvió de remitirme, es muy enérgica, dulce, patética, y natural, y es lo mismo que decir que tiene todas las perfecciones que pide el asunto.
</blockquote>
<p class="sangrame">
	Pero el buen hacer de Muñiz todavía nos depara una última pista. En una nota al pie remite a la polémica que se mantuvo sobre la aparición (o no) de san Isidro en la batalla de las Navas de Tolosa, causa a favor de la que Helguero proporcionó algunos argumentos de autoridad: entre ellos, la descripción de la pintura mural alusiva que existe en Las Huelgas (Rosell 1791:19-21). Ello revela el prestigio intelectual del que Helguero gozaba en su círculo erudito, así como su soltura en el manejo de fuentes, para lo que aprovechaba la riqueza documental del archivo y la biblioteca de su monasterio.
</p>
<figure>
	<img src="assets/Batalla_de_las_navas_Huelgas_Camargo_wikipedia.jpg" 
	alt="Pintura mural de vivos colores. A la izquierda, en ordenado escuadrón, el ejército cristiano comandado por Alfonso VIII y el obispo Jiménez de Rada. En el centro, el escudo real. A la derecha, el ejército almohade batiéndose en retirada. Sobre la pintura, una leyenda alusiva en latín.">
	<figcaption>Batalla de las Navas. Pintura mural de <a href="https://es.wikipedia.org/wiki/Pedro_Ruiz_de_Camargo" target="_new">Pedro de Camargo</a> (ca. 1554–1606) en el Monasterio de las Huelgas. Foto: Enrique Cordero (Wikipedia)</figcaption>
</figure>
<p class="sangrame">
	Aunque estos datos puedan parecer anecdóticos y reflejen unos modos de hacer y unos intereses muy alejados de nuestra sensibilidad moderna, resultan de capital relevancia para, en ausencia de fuentes más directas, reconstruir el contexto social y de producción en que se inscribe Helguero y, consecuentemente, trazar unas coordenadas de análisis con las que poder interpretar su obra de forma precisa y diferenciada, haciendo justicia a su testimonio y superando la vaguedad y los lugares comunes. El mismo espíritu de esa primera Ilustración que desborda los claustros y los conventos, que alienta el trabajo de Feijoo, Sarmiento, Isla, Flórez y un largo etcétera de religiosos críticos y reformistas, es el que encontramos, a escala y bajo el prisma de la (re)creación literaria, en Nicolasa de Helguero: a ese mismo impulso sistematizador y renovador obedecen sus biografías (san José, santa Mafalda, el papa Clemente XIV), sus catálogos de <i>mujeres fuertes</i> (<i>Las Heroínas de la Ley Antigua</i>; <i>Delicias de la Soledad</i>; <i>La Peregrina infeliz</i>), pero también algunos poemas menores que, en plena eclosión de las publicaciones periódicas, recrean sucesos históricos inmediatos (poemas a Luis XVI y María Antonieta; <i>Sentimientos de la Emperatriz Católica</i>).
</p>
<h3><a name="obra"></a>Su obra conservada</h3>
<p class="sangrame">
	La exposición me ha obligado a mencionar anteriormente los poemas autógrafos de Helguero que Manuel Serrano y Sanz localizó en la Real Biblioteca de Palacio e incluyó en sus <i>Apuntes</i> de 1903. Se trata de la serie de octavas <i>Desgajado el ciprés, rota la lira</i> en memoria de su hermano Pedro de Helguero, muerto en batalla naval contra los argelinos, transcrito en su totalidad, además de una versión del Salmo XXII, <i>Dominus regit</i><sup><a href="#nota7" name="ref7">7</a></sup>, y un elogio a Diego de Oruña, de los que solo copió los primeros versos. En estas octavas, Helguero nos ofrece una de sus obras más redondas<sup><a href="#nota8" name="ref8">8</a></sup>: maneja con acierto el <i>tempo</i> narrativo y, dentro de la serenidad y el equilibrio, se permite tanto vívidas pinturas de los combates como momentos más recogidos, quizá los más íntimos y personales de su producción. Los abundantes comentarios, que no podemos determinar si son debidos a la autora o a una mano ajena, establecen además un interesante diálogo con el texto que ayuda establecer parámetros (imitación/innovación, publicidad/ocultación, estrategias de codificación de la experiencia...) con que poder interpretar el resto de su obra.
</p>
<p class="sangrame">
	Las dos publicaciones mayores de Helguero se producen en los años 1793 (<i>Vida de santa Mafalda</i>) y 1794 (<i>Poesías sagradas y profanas</i>), cuando la autora contaba con más de setenta años. 
	De acuerdo al catálogo de Serrano y Sanz se realizaron algunos impresos independientes, para lo que se debieron aprovechar las mismas planchas. La colección de 1794 carece de paratextos o preliminares salvo un índice, y se caracteriza por una edición descuidada y de ortografía inconsistente si se compara, por ejemplo, con 
	la <i>Biblioteca Cisterciense</i>, salida en los mismos años de la misma imprenta de José de Navas, en Burgos.
</p>
<figure>
	<div class="flexbox">
	<img classs="flexme" src="assets/pagina_heroinas.png" 
	alt="Página del poema Las Heroínas de la Ley Antigua. Su título se escribe en cursiva con un tamaño normal">
	<img classs="flexme"src="assets/pagina_romance_nacimiento.png" 
	alt="Página del romance Al nacimiento de nuestro señor Jesucristo. Su título se escribe en mayúsculas de diferentes tamaños">
	</div>
	<figcaption>La mayor elaboración de los títulos corresponde con los poemas que se han localizado como impresos independientes.
	</figcaption>
</figure>
<p class="sangrame">
	Según indica Muñiz, este plan editorial gozaba del visto bueno de la abadesa de Las Huelgas, pero tuvo que superar la reticencia inicial de la autora, que había dispersado sus escritos liberalmente «entre sus apasionados». También refiere Muñiz que una imitación libre del Cantar de los Cantares se hallaba en 1973 en proceso: es el texto que aparecería publicado como <i>La Esposa en Ausencia del Amado</i>, segundo de la colección. Los poemas referidos a sucesos de actualidad (muerte de Leopoldo II de Austria en 1792; ajusticiamiento de Luis XVI y María Antonieta en 1793) así como la composición de un villancico para la Fiesta de las Navas de 1792 prueban que la autora estaba en pleno proceso creativo. El índice definitivo de <i>Poesías sagradas y profanas</i> difiere en más puntos del plan original anunciado: faltan los elogios <i>A la Reyna nuestra Señora</i>, <i>Al Excmo. D. Victorio de Navia</i> y <i>Al Rmo. Feijoo</i>, que no se han conservado o no se han localizado todavía, además de los dedicados a Diego de Oruña y a Enrique Flórez, de los que ya se ha dado razón en esta nota.
</p>
<p class="sangrame">
	No hay más noticias de Nicolasa de Helguero y Alvarado hasta su fallecimiento en Las Huelgas en 1805, a la edad de ochenta y seis años, sin que pueda precisarse la fecha exacta del suceso.
</p>
<h3><a name="poster"></a>La posteridad</h3>
<p class="sangrame">
	Desde entonces han sido esporádicas sus apariciones en antologías y las menciones en las historias de la literatura: encontramos valoraciones críticas muy desiguales que obedecen, por lo general, al espíritu y a las consideraciones estéticas de su época.
</p>
<p class="sangrame">
	Reproduzco por extenso el juicio de Leopoldo Augusto de Cueto, marqués de Valmar, que se refiere a sor María Helguero (sic) en la introducción al primer volumen de su antología de <i>Poetas líricos del siglo XVIII</i> para la Biblioteca de Autores Españoles de Rivadeneyra (1869:CCXXV-I):
	<blockquote>
		No le faltaban ni instruccion ni ingenio. Como muchos poetas de su tiempo, se burla del estilo conceptuoso, pero algunas veces se deja llevar involuntariamente de la funesta magia tradicional de aquel estilo; otras escribe con llaneza extremada y entónces es cuando sus versos, sin llegar nunca á la elevacion de la verdadera poesía, adquieren cierta facilidad y cierto agrado. Para sus poesías sagradas, y especialmente las relativas a la <i>Pasion</i>, suele escoger metros poco adecuados; pero el desembarazo y la sencillez vulgar que el metro mismo inspira, no quitan á los versos el fervor sincero que estaba en el alma de la poetisa. (…) Esta mezcla de naturalidad y de concepto, tan acomodada á la índole peculiar del gusto popular de los españoles, hizo simpáticas las poesías de esta señora, á pesar de su escaso mérito. Tenía más sensibilidad que fantasía. La noticia de la horrorosa muerte 	de Luis XVI y de María Antonieta llega a sus oídos como el colmo del escándalo y de la depravacion, Se conmueve su alma, y escarnece en sus versos á los verdugos de aquellos regios mártires; pero no hay en sus imprecaciones un solo rasgo de esos que denotan un númen apasionado y vigoroso.
	</blockquote>
	sin llegar a copiar completo ninguno de sus poemas.
</p>
<p class="sangrame">
	En la misma línea idealista, el juicio de Serrano y Sanz (1925: XXXII) no es demasiado benévolo, aunque reconoce atisbos de calidad en las octavas que antes comentábamos:
	<blockquote>
		ya cante asuntos religiosos, con pretensiones místicas; ya trate de sucesos coetáneos, como el desastroso fin de Luis XVI, suele ser afectada, pobre de ideas, y no mucho más rica de estilo. Unicamente cuando lamenta una desgracia de familia, la muerte de su hermano don Pedro de Helguero, que cayó batiéndose con los piratas argelinos, logró infundir en sus versos cierta energía de dicción, propia de quien dejaba la retórica a un lado para dar expansión al intenso dolor que la despedazaba el alma.
	</blockquote>
	Paradójicamente, la muestra recogida en esta antología es amplia, ya que incluye, además de las celebradas <i>Octavas</i>, los poemas <i>La Esposa en ausencia de su Amado</i>, <i>Delicias de la Soledad</i>, el salmo XXXVII <i>Domine in furore tuo</i>, y los romances <i>A la Seráfica Madre santa Teresa de Jesús</i> y <i>A los peligros del mar</i>.
</p>
<p class="sangrame">
	Ya en nuestro siglo, para Emilio Palacios (2002:782), de Helguero
	<blockquote>lo más destacado es el uso del lenguaje poético, que la diferencia del resto de las poetisas religiosas. Utiliza un estilo limpio y moderno, de estética neoclásica, con su ornato mitológico bien traído y con un uso comedido de las imágenes</blockquote>
</p>
<p class="sangrame">
	Dentro del volumen colectivo <i>Seis siglos de poesía española escrita por mujeres</i>, la hispanista francesa Françoise Etienvre (2007:211-17) analiza con detalle el romance <i>A la soledad de Nuestra Señora</i>, tanto en sus aciertos como 
	en sus desaciertos. Por un lado, destaca <q>una notable soltura para manejar la forma del romance</q> y <q>la facultad para alternar registros y pasar sin reparos de lo popular a lo culto</q>. Por otro
	<blockquote>
		[las] comparaciones y metáforas, de desigual valor y pertinencia, posiblemente correspondan a un deseo de ornar el romance y lucir cierta habilidad en el oficio de poeta. Sin embargo, introducen 
		una discutible ruptura de tonalidad y, tal vez, hubiera sido preferible que no se subiera la voz y siguiera con su canto llano.
	</blockquote>
</p>
<p class="sangrame">
	Cierro el apartado de valoraciones críticas con la nota que aparece en una reciente y amplia antología de sus poemas (Medel 2020, contracubierta), donde se busca una lectura feminista y, concidiendo con el marqués de Valmar, se subraya el carácter ambivalente de su producción:
	<blockquote>
		lo que suena encaja —fluye en la métrica, brilla en la rima— y lo que dice desconcierta: alaba las mujeres del Antiguo Testamento y a la reina María Antonieta, también a santa Teresa de Jesús, y al mismo tiempo tiene el discurso claro y sabio del Neoclasicismo.
	</blockquote>	
</p>
<p class="sangrame">
	En un balance sobre el estado de los estudios de literatura conventual femenina, Baranda y Martín Pina (2014) señalan la necesidad de estudios particulares sobre 
	las autoras, que han de atender a sus peculiares formas de transmisión textual y a tradiciones propias. A ello pueden contribuir enormemente los nuevos 
	paradigmas metodológicos que se apoyan en procedimientos estadísticos y de visualización de datos, sin perder de vista el enfoque humano tradicional. 
	Sirvan de ejemplo la meticulosidad y la honestidad intelectual con que los religiosos y bibliógrafos mencionados obraron en su momento, ya que ellas nos 
	permiten hoy abordar la figura y la producción de Nicolasa de Helguero y Alvarado con un interés renovado. Espero que esta modesta edición digital contribuya 
	a su mejor conocimiento.
</p>
<p class="alin_dcha">
	Iñaki Cano García<br>
	Berlín, junio de 2021
</p>
<h3>Notas</h3>
<p>
	<a name="nota1"></a>1 - Palencia y sobre todo Cantabria serán recurrentemente alabadas en los escritos de Nicolasa de Helguero, en una maniobra más o menos consciente de vindicación de su linaje. <a href="#ref1">↩︎</a>
</p>
<p>
	<a name="nota2"></a>2. De acuerdo a de Cossio (1998[1952]:146), esta <i>Fábula de Perseo y Andrómeda</i> sería una muestra tardía <q>de la influencia de la poesía tenebrosa y culta de Jáuregui</q> y <q>poco lucraría con su publicación la poesía española</q>. A nosotros nos interesa que figura haber sido <q>Compuesta en Santander, en el nevado mes de enero de 1748</q>, y que su manuscrito se conserva en la Biblioteca del Palacio Real, concretamente en la misma colección de <i>Papeles varios de literatura y política</i> en la que aparecerán unos poemas sueltos de Nicolasa de Helguero que, por los acontecimientos que relatan, podrían datar de fechas similares. <a href="#ref2">↩︎</a>
</p>
<p>
	<a name="nota3"></a>3. Como curiosidad, la <i>Biblioteca Cisterciense Española</i> se abre con la entrada referida a la aragonesa Ana Francisca Abarca de Bolea (1602-1686). <a href="#ref3">↩︎</a>
</p>
<p>
	<a name="nota4"></a>4. En Molina (2017) se explica que el padre Flórez y su equipo recorrieron España para documentar sus <i>Memorias de las reynas catholicas… Trages de las reynas en estampas y nuevo aspecto de la historia de España</i> (1761), poniendo especial esmero en copiar las efigies de las reinas desde los retratos, tumbas, monedas o sellos existentes. Concretamente, el retrato de Leonor de Plantagenet (1160-1214), esposa de Alfonso VIII, tiene como escenario o <q>fábrica añadida</q> una de las vistas del Real Monasterio de las Huelgas, <q>para que todos le vean, sin ir a Burgos</q>. 
	<a href="#ref4">↩︎</a>
</p>
<p>
	<a name="nota5"></a>5. En un experimento de atribución de autoría con el paquete estadístico <code>stylo()</code> (Eder, Rybicki y Kestemont 2016), enfrenté este grupo de versos con el resto de la producción de Helguero, además de obras de Margarita Hickey y María Rosa Gálvez como autoras de control. Dado el reducido volumen de la muestra analizada (en total, 725 versos), el experimento no pudo ratificar lo que apuntan las evidencias externas que aquí se señalan. Los lectores podrán, empero, valorar si estos <i>anónimos</i> elogios a Henrique Flórez corresponden a la misma mano que las obras aparecidas a su nombre. 
	<a href="#ref5">↩︎</a>
</p>
<p>
	<a name="nota6"></a>6. Se entiende que Francisco Méndez, editor de la obra, ocultó así el nombre de Nicolasa de Helguero para preservar su desado anonimato. 
	<a href="#ref6">↩︎</a>
</p>
<p>
	<a name="nota7"></a>7. El salmo también aparece en la <i>Vida de santa Mafalda</i> (1793). <a href="#ref7">↩︎</a>
</p>
<p>
	<a name="nota8"></a>8. Ni en estas <i>Octavas</i> ni en los <i>Elogios a Henrique Flórez</i> encontramos los <i>característicos</i> endecasílabos hipermétricos (5+7) que ocurren en otras composiciones con relativa frecuencia. Manuel Serrano y Sanz regulariza uno de estos endecasílabos al transcribir el salmo XXXVII (v. 104) en su <i>Antología de poetisas líricas</i> (1915).<a href="#ref8">↩︎</a>
</p>
</div>
<hr class="fix">
<p>
    <a href="index.html">Volver a la portada</a>
</p>