---
layout: default
permalink: /index
---
<div class= "justificame" lang="es">
  <p>
    Edición digital de la obra poética de Nicolasa de Helguero y Alvarado (1719-1805), marquesa viuda de San Isidro y monja profesa del Real Monasterio de las Huelgas (Burgos, España), 
    para el proyecto <a href="https://www.bieses.net/" target="_new">BIESES</a> (Bibliografía de Escritoras Españolas).
  </p>
  <hr>
  <div class="flexbox2">
    <a class="flexme2" href="estudio.html">Acercamiento a Nicolasa de Helguero y Alvarado</a>
    <a class="flexme2 alin_dcha" href="cronologia.html">Cronología</a>
  </div>
  <div class="flexbox2">
    <a class="flexme2" href="sobre.html">Sobre esta edición</a>
    <a class="flexme2" href="criterios.html">Criterios editoriales</a>
    <a class="flexme2 alin_dcha" href="recursos.html">Recursos</a>
    <a class="flexme2 alin_dcha" href="biblio.html">Bibliografía</a>
  </div>
  </p>
  <div class="flexbox">
    <a class="flexme2" href="helguero_poesias.html"><img src="assets/portada_poesias.png"></a>
    <a class="flexme2" href="helguero_santamafalda.html"><img src="assets/portada_santamafalda.png"></a>
    <a class="flexme2" href="helguero_elogios.html"><img src="assets/pagina_elogios.png"></a>
  </div>
  <div class="flexbox">
    <p class="flexme"><a href="helguero_poesias.html"><i>Poesías sagradas y profanas</i> (1794)</a></p>
    <p class="flexme"><b>Próximamente</b><br>
      <a href="helguero_santamafalda.html"><i>Vida de santa Mafalda (...) a la que se ha añadido 
      la versión de varios salmos de David en liras</i> (1793)</a>
    </p>
    <p class="flexme">Otros poemas <br>
      (<a href="helguero_elogios.htm"><i>Elogios a Enrique Flórez</i></a>, 
      <a href="helguero_autografos.html"><i>Autógrafos de Palacio</i></a>, 
      <a href="helguero_villancico_1792.html"><i>Villancico de 1792</i></a>)
    </p>
  </div>
  <hr class="fix">
  <div>
    <p>
      ADVERTENCIA: Esta primera versión digital (junio de 2021) es parcialmente responsiva. Es posible que no se visualice correctamente en todos los aparatos. 
      Se recomienda su lectura en una pantalla de ordenador o tableta.
    </p>
  </div>
</div>