---
layout: default
permalink: /recursos
---

<div>
    <h2>Recursos</h2>
    <ul>
        <li>
            <p>
                <a href="https://icanogar.github.io/habitos" target="_new">Catálogo de hábitos</a>. Colección de estampas de los siglos XVII y XVIII que reproducen los hábitos de las principales 
                órdenes monásticas y militares de la cristiandad. Proyecto compartido con 
                <a href="https://github.com/cristiansuarez-giraldo" target="_new">Cristian Suárez-Giraldo</a>, 
                <a href="https://github.com/dxvidmr" target="_new">David Merino Recalde</a> 
                y <a href="https://github.com/RocioLMendez" target="_new">Rocío Méndez</a>.
            </p>
        </li>
        <li>
            <b>Próximamente</b>: índice de personajes; <a href="estudio.html">estudio introductorio</a> en formato .pdf; 
            <i>Helguero en cifras</i>, análisis estadístico de los recursos lingüísticos empleados por la autora.
        </li>
    </ul>
    <h2>Descargas</h2>
    <ul>
        <li>
            <i>Poesías sagradas y profanas</i> (1794) en formato <a href="{{ site.baseurl }}/assets/tei/helguero_poesias.xml">XML-TEI</a>
        </li>
        <li>
            <b>Próximamente</b>: descargas en formatos .pdf y .txt con lematización y etiquetado morfológico con 
            <a href="http://nlp.lsi.upc.edu/freeling/node/1" target="_new">Freeling</a>.
        </li>
    </ul>
</div>