---
layout: default
permalink: /sobre
---
<div class="justificame" lang="es">
    <h2><a name="estaedicion"></a>Esta edicion</h2>
<p class="sangrame">
    ¿Cómo afrontar la edición de una autora como Nicolasa de Helguero, prácticamente desconocida para el público moderno? 
</p>
<p class="sangrame">
    Por un lado, en su caso parece inexcusable una edición crítica tradicional, que dé cuenta de las intervenciones realizadas sobre el texto, así como de su realidad material. 
    Por otro, el actual interés por la literatura escrita por mujeres excede el ámbito académico: 
    se demandan ediciones modernizadas, acompañadas de anotación y recursos complementarios que sitúen a la autora en su contexto, 
    y que además puedan leerse en todo tipo de dispositivos. Finalmente, una edición tokenizada, lematizada y que incorpore 
    etiquetado morfológico (PoS) permitirá análisis cuantitativos en lectura distante.
</p>
<p class="sangrame">
    Esta edición digital busca el (quizá no tan difícil) equilibrio entre todos estos enfoques. Lo principal es recoger toda la obra conservada 
    de Helguero: en esta primera versión, sus <i>Poesías sagradas y profanas</i>, los autógrafos conservados 
    en la Real Biblioteca de Palacio (Madrid) y algunos otros textos dispersos. A estos se añadirá próximamente la <i>Vida de santa Mafalda</i> y los salmos que la acompañan.
</p>
<p class="sangrame">
    El núcleo de este sitio, pues, son los textos de Helguero, codificados en <a href="https://www.tei-c.org/release/doc/tei-p5-doc/es/html/index.html" target="_new">XML-TEI</a> a razón de un archivo por fuente. Este es un formato de marcado y anotación flexible y 
    prácticamente estandarizado que permite generar diferentes recursos y formatos derivados. Pueden consultarse en nuestros <a href="criterios.html">criterios de edición</a> el trabajo realizado 
    sobre variantes, correcciones y fijación del texto y puntuación. Cada navegador será capaz de renderizar estos archivos XML-TEI 
    gracias a la librería de Javascript <a href="https://github.com/TEIC/CETEIcean" target="_new">CETEIcean</a> incorporada al repositorio y que, por así decirlo, 
    <i>traduce</i> las etiquetas XML-TEI al lenguaje HTML que entiende el navegador, pero manteniendo intacto el archivo original.
</p>
<p class="sangrame">
    Las restantes páginas de esta edición se han construido sobre <a href="https://jekyllrb.com/docs/" target="_new">Jekyll</a>, un software generador de sitios estáticos que aligera y automatiza tanto la escritura de código 
    como su mantenimiento. En concreto, hemos aplicado <a href="https://minicomp.github.io/ed/" target="_new">la plantilla Ed</a>, concebida especialmente para ediciones académicas, sobre los principios de computación 
    mínima, accesibilidad y soberanía digital. El código se ha escrito con el editor <a href="https://code.visualstudio.com/" target="_new">Visual Studio</a>.
    Por último, el sitio se aloja gratuitamente en <a href="https://gitlab.com/icanogar/nicolasa" target="_new">Gitlab</a>, desde donde también se publica,  y se comparte bajo una licencia 
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es" target="_new">Creative Commons BY-NC-SA 4.0</a> (lo que significa que este material se puede compartir y adaptar sin propósito comercial, 
    siempre que se cite la fuente y el producto resultante se comparta con la misma licencia).
</p>
<p class="sangrame">
    Para conocer mejor algunas de las tecnologías que hemos empleado, puede también consultarse la primera parte de 
    <a href="https://programminghistorian.org/es/lecciones/sitios-estaticos-con-jekyll-y-github-pages" target="_new">esta lección de Amanda Visconti para The Programming Historian</a>, 
    traducida al español por <a href="http://hdlab.space/equipo/" target="_new">el equipo del HD-CAICYT</a>.
</p>
<h2>Proyecto BIESES</h2>

<p>
    <img src="assets/bieses.png" class="foto_menor" alt="Logotipo del Proyecto Bieses, basado en el grabado de una dama 
    que lee sentada en un escritorio">El Proyecto BIESES (acrónimo de Bibliografía de Escritoras Españolas) es un grupo de investigación 
    dedicado al estudio de las escritoras españolas desde la Edad Media hasta 1800. Inició su andadura en 2004 y está integrado por reconocidos 
    especialistas de universidades europeas y americanas.
</p>
<p class="sangrame">
    BIESES siempre ha entendido la escritura de las mujeres como un acto inscrito en la sociedad de su tiempo, para evitar el error de valorar a cada 
    escritora como un caso aislado, extraordinario o culturalmente exótico. Para este propósito son relevantes preguntas como cuántas y quiénes 
    fueron; dónde y cuándo vivieron; cuál era su perfil social y biográfico; cuántas y qué tipos de obras escribieron; dónde se publicaron o cómo se difundieron 
    y, finalmente, quién las leyó.
</p>
<p class="sangrame">
    Una característica metodológica de BIESES es primar los análisis cuantitativos a través de herramientas estadísticas y de visualización, habituales en 
    las ciencias sociales.
</p>
<p class="sangrame">
    La <a href="https://www.bieses.net" target="_new">página web del proyecto</a> comprende varias secciones: ediciones digitales tanto de obras de las autoras como de sus paratextos (especialmente valiosos 
    para establecer los contextos de producción y difusión), representaciones de sus redes personales y comunitarias, enlaces a sus obras en bibliotecas y 
    repositorios digitales y otros apartados informativos.
</p>
<p class="sangrame">
    Todos esos materiales conforman <a href="http://62.204.211.38:8080/bieses/" target="_new">una base de datos de acceso libre</a> que cuenta con más de 13.000 registros (entre obras de autoras, ediciones 
    y estudios) y que constituye una herramienta imprescindible para cualquier estudioso de la literatura escrita por mujeres.
</p>
<p class="sangrame">
    El proyecto fue coordinado por Nieves Baranda Leturio desde sus inicios hasta 2018, cuando María D. Martos Pérez pasó a ser su investigadora principal.
</p>
<p class="sangrame">
    Puede contactar con el Proyecto BIESES a través de su <a href="mailto:proyectobieses@gmail.com" target="_new">&#9993; correo electrónico</a>.
</p>
<h2>Iñaki Cano, editor</h2>
<p>
    <img src="assets/ilustrado.png" class="foto_menor" alt="Foto de Iñaki Cano García trabajando con un ordenador portátil en que se ve la edición de Nicolasa de Helguero, y 
    con una tableta en que se ve el texto original digitalizado">
    Nací en Madrid en 1976 y resido en Berlín desde 2012. Después de cursar asignaturas del grado en Lengua y Literatura Españolas de la UNED entre 2009 y 2015, 
    estoy terminando un doble grado equivalente (Filología Hispánica y Lingüística) en la Universität Potsdam, donde trabajo como ayudante de la cátedra de Lingüística 
    Románica (Español y Francés) que ocupa la profesora Melanie Uth. Simultáneamente me estoy formando en herramientas digitales dentro del programa modular del Laboratorio de Innovación 
    en Humanidades Digitales de la UNED. Colaboro con el proyecto BIESES desde diciembre de 2020 y he presentado esta edición digital en el marco de sus seminarios.
</p>
<p class="sangrame">
    Si tiene comentarios sobre esta publicación, puede <a href="mailto:icanogar@gmail.com" target="_new">&#9993; contactar con el editor</a>
</p>
<h2>Agradecimientos</h2>
<p class="sangrame">
    En ocasiones se definen las humanidades digitales como «una comunidad de prácticas», esto es, un grupo de personas que hacen determinadas cosas de manera parecida. 
    Me enorgullezco de haberme introducido en este campo de la mano de dos magníficos docentes como son Gimena del Río (HD-CAICYT, Argentina) y Raff Viglianti (MITH- University of Maryland), con 
    el apoyo de sus asistentes Nidia Hernández, Romina de León y en compañía de un estimulante grupo de compañeros y compañeras, en particular David Merino Recalde y Rocío Méndez, ahora también editora 
    en BIESES, que han hecho el trabajo mucho menos solitario.
</p>
<p  class="sangrame">
    He tenido también interesantes intercambios, tanto formales como informales, con José Manuel Fradejas Rueda (Siete Partidas Digital / Universidad de Valladolid), Jennifer Isasi (The Pennsylvania State University / The Programming Historian) y Antonio Rojas Castro (Proyecto Humboldt Digital, Berlin-Brandenburgische Akademie der Wissenschaften).
</p>
<p class="sangrame">
    Twitter es también otra comunidad de personas generosas. He contado con el entusiasmo y la cultura de @LaBarovier, que me ha ayudado a esclarecer 
    las menciones más crípticas de Helguero, lo mismo que con la destreza de @undivaga en cuestiones técnicas. Varias mejoras visuales y de estilo  
    se deben a @yolandago_tw, a la vez filóloga y diseñadora, que me ha orientado con sugerencias siempre oportunas, sutiles y sabias. Otros muchos usuarios (@antoniosanto, Luis Magrinyà, pero también algunos amables 
    desconocidos), me han ayudado a adecuar el ritmo y el sentido del texto a través del uso ponderado de las comas.
</p>
<p  class="sangrame">
    Todas nuestras ediciones son hijas del Minilazarillo del equipo de Álex Gil (Columbia University), inspiración continua y militante en temas de computación mínima, accesibilidad y soberanía digital. 
    Extiendo mi agradecimiento a los trabajadores de la Biblioteca Central de la UNED, que gestionaron el acceso a la <i>Vida de Santa Mafalda</i>; a los de la Biblioteca Nacional de España y su ejemplar política de Acceso Abierto, 
    así como a los de la Staatsbibliothek zu Berlin y la del Instituto Iberoamericano por su profesionalidad y trato exquisitos.
</p>
<p class="sangrame">
    Si he acabado dedicándome al siglo XVIII (a mi parecer uno de los más excitantes y decisivos de la literatura española) es por culpa de María D. Martos 
    (UNED), investigadora principal de BIESES, que detectó hábilmente mis intereses y posibilidades y me ofreció editar la obra de Nicolasa de Helguero. Espero haber estado (y seguir estando) a la altura de un reto tan ambicioso.
</p>
<p class="sangrame">
    Finalmente, quiero agradecer la paciencia de Moisés e Ingo por todo el tiempo que Helguero les ha robado.
</p>
<hr class="fix">
<p>
    <a href="index.html">Volver a la portada</a>
</p>
</div>