<div class="fix">
    <hr class="fix">
    <div class="flexbox">
        <p class="flexme" style="text-align: left;"><a href="weiter.html">← Poema anterior</a></p>
        <p class="flexme" style="text-align: center;"><a href="weiter.html">Índice</a></p>
        <p class="flexme" style="text-align: right;"><a href="sprachen.html">Poema siguiente →</a></p>
    </div>
  </div>